html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background-color: whitesmoke;
}

/*style for menu*/
#menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: darkorange;
    font-size: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 15px #888888;
    opacity: 1;
}

.active{
    background-color: orange;
}

#menu-toggle{
    opacity: 0;
    visibility: hidden;
}
#menu-bg{
    opacity: 0;
    visibility: hidden;
}

#logo{
    height: 50px;
    width: auto;
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 10px;
    cursor: pointer;
}

.menu-btn{    
    padding: 13px;
    display: inline-block;
    text-decoration: none;
    color: black;
    
}

.menu-btn:hover{
    background-color: orange;
}

/*footer*/
footer{
    width: 100%;
    height: 50px;
    background-color: darkorange;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    color: black;
    box-shadow: 0px -10px 15px #888888;
}

/*style for container */
#content{
    z-index: -1;
    position: absolute;    
    width: 80%;
    margin-left: 10%;
    margin-top: 80px;
}

/*style for home article*/
.article-img{
    float: left;
    display: inline;
    width: auto;
    height: 233px;
    margin-right: 10px;
}

.article-head{
    margin-left: 30%;
}

.article-text{
    margin-left: 4%;
}

.home-article{
    display: block;
    height: 300px;
    margin-bottom: 20px;
    background-color: darkorange;
    overflow: hidden;
}

/*style for image gallery*/
.galleryImg{
    z-index: 1;
    width: 30%;
    height: auto;
    margin: 5px;
    margin-left: 2%;
}